{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<div class="c" style="padding-top: 24px">
  {% include 'message/message.html' %}
</div>
<div class="container-fluid">
  <header>
    <font color="white" class="text-center" style="font-weight:bold">{{hood.hoods_name}}</font>
    <font color="white" class="text-center"><small>{{hood.location}}</small></font>
  </header>
  <hr>
  <br>
  <div class="row">
    <div class="col-3">
    <a class="btn btn-sm btn-secondary"  href="{% url 'exitHood' hood.id %}" style="margin:10px">Leave Neighbourhoods</a>
      <br>
      <a class="btn btn-sm btn-success" href="{% url 'create_post' %}"><font color="white">Create Post</font></a>
      <a class="btn btn-sm btn-success" href="{% url 'add_business' %}"><font color="white">Add Business</font></a>
     <br>
      <font color="white"><i>Police Services</i></font>
      <font color="white"><small>reach out (999)</small></font>
    </div>

    <div class="col-5">
      <font color="white">{{hood.hoods_name}} posts</font>
      <hr>
      {%if posts%}
      {% for post in posts %}
      <div class="media">
        <div class="media-left media-top">
          <img src="{{post.user.profile_photo.url}}" class="media-object" style="width:80px">

        </div>
        <div class="media-body">
          <font color="white"> class="media-heading">{{ post.title }}</font>
          <font color="white"> class="media-content">{{ post.content }}</font>
          <small>Resident: {{ post.posted_by }}</small>
          <hr>
        </div>

        <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-success">Delete</a>
        <hr>

      </div>
      {% endfor %}
    <div>
      {% else %}
      <font color="white">No Posts yet.</font>
      <a class="btn btn-sm btn-success" href="{% url 'create_post' %}">Create Post</a>
      {% endif %}
    </div>


  </div>
  <div class="col-3">
    <font color="white">Businesses</font>
    <hr>
    {% if businesses %}
    {% for biz in businesses %}
    <div class="media">
      {{businesses.b_name}}
      <div class="media-left media-top">
        <img class="img-fluid rounded-circle" src="{{biz.b_photo.url}}" class="media-object" style="height: 50px;
                  width: 60px;">
      </div>
      <div class="media-body">
        <font color="white" class="media-heading" style="padding:10px; margin:5px">{{biz.b_name}}</font>
        <font color="white">{{ biz.b_description }}</font>
        <font color="white" >{{ biz.b_email}}</font>
      </div>
    </div>
    {% endfor %}
    <div>
      {% else %}
      <font color="white">No Biz</font>
      <a class="btn btn-sm btn-success" href="{% url 'add_business' %}">Add Business</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
